//Font 
$font-montserrat: 'Montserrat';

//Colors
$color-black: #000;
$color-white: #fff;



//Font Variables
$font: (
  "h1": 3rem,
  "h2": 2.25rem,
  "h3": 2rem,
  "h4": 1.75rem,
  "h5": 1.5rem,
  "h6": 1.125rem
);